import postcss from 'rollup-plugin-postcss';
import resolve from '@rollup/plugin-node-resolve'; // Optional: Resolves node modules
import commonjs from '@rollup/plugin-commonjs'; // Optional: Converts CommonJS to ES modules

export default {
  input: 'src/main.jsx', // Entry point of your application
  output: {
    file: 'dist/bundle.js', // Output bundle file
    format: 'es', // Output format (e.g., 'es', 'cjs', 'iife')
  },
  plugins: [
    resolve(), // Resolves node modules
    commonjs(), // Converts CommonJS to ES modules
    postcss({
      extract: true, // Extracts CSS to a separate file
      minimize: true, // Minifies the CSS (optional)
    }),
  ],
};